

<div class="schedule-container">
  <h1>Welcome, {{username}}</h1>

   <table class="schedule">
    <tr>
      <th>Shift</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
     <tr>
      <td>8-16</td>
      <td><div class="shift-cell">{{this.mon}}</div></td>
      <td><div class="shift-cell">{{this.tue}}</div></td>
      <td><div class="shift-cell">{{this.wed}}</div></td>
      <td><div class="shift-cell">{{this.thu}}</div></td>
      <td><div class="shift-cell">{{this.fri}}</div></td>
      <td><div class="shift-cell">{{this.sat}}</div></td>
      <td><div class="shift-cell">{{this.sun}}</div></td>
    </tr>
    <tr>
      <td>12-20</td>
   
    </tr>
    <tr>
      <td>16-00</td>
   
    </tr>
  </table>
</div>
