<div class="schedule-container">
  <h2>Waiters Schedule</h2>
  <table class="schedule">
    <thead>
      <tr>
        <th>Shift</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>8am-2pm</td>
        <td><div class="shift-cell">{{schedule['8am-2pm'].mon}}</div></td>
        <td><div class="shift-cell">{{schedule['8am-2pm'].tue}}</div></td>
        <td><div class="shift-cell">{{schedule['8am-2pm'].wed}}</div></td>
        <td><div class="shift-cell">{{schedule['8am-2pm'].thu}}</div></td>
        <td><div class="shift-cell">{{schedule['8am-2pm'].fri}}</div></td>
        <td><div class="shift-cell">{{schedule['8am-2pm'].sat}}</div></td>
        <td><div class="shift-cell">{{schedule['8am-2pm'].sun}}</div></td>
      </tr>
      <tr>
        <td>2pm-10pm</td>
        <td><div class="shift-cell">{{schedule['2pm-10pm'].mon}}</div></td>
        <td><div class="shift-cell">{{schedule['2pm-10pm'].tue}}</div></td>
        <td><div class="shift-cell">{{schedule['2pm-10pm'].wed}}</div></td>
        <td><div class="shift-cell">{{schedule['2pm-10pm'].thu}}</div></td>
        <td><div class="shift-cell">{{schedule['2pm-10pm'].fri}}</div></td>
        <td><div class="shift-cell">{{schedule['2pm-10pm'].sat}}</div></td>
        <td><div class="shift-cell">{{schedule['2pm-10pm'].sun}}</div></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="admin-container">
  <div class="create-user-column">
    <h2>Create User</h2>
    <form action="/admin/create-user" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <input type="submit" value="Create">
    </form>
    {{#if message}}
      <p class="notification-message">{{message}}</p>
    {{/if}}
  </div>
  <div class="users-list-column">
    <h2>Users List</h2>
    <table class="users-list">
      <thead>
        <tr>
          <th>Username</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each waiters}}
          <tr>
            <td>{{this.username}}</td>
            <td>
              <form action="/admin/delete-user/{{../username}}" method="post">
                <input type="hidden" name="username" value="{{this.username}}">
                <button type="submit" class="delete-button">Delete</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>


<script>
  setTimeout(function() {
    var messageDiv = document.getElementById('notification-message');
    if (messageDiv) {
      messageDiv.style.display = 'none';
    }
  }, 3000); // 3 seconds
</script>
