

<div class="schedule-container">
  <h1>Welcome, {{username}}</h1>

   <table class="schedule">
    <tr>
      <th>Shift</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
     <tr>
      <td>8-16</td>
      <td><div class="shift-cell">{{this.mon}}</div></td>
      <td><div class="shift-cell">{{this.tue}}</div></td>
      <td><div class="shift-cell">{{this.wed}}</div></td>
      <td><div class="shift-cell">{{this.thu}}</div></td>
      <td><div class="shift-cell">{{this.fri}}</div></td>
      <td><div class="shift-cell">{{this.sat}}</div></td>
      <td><div class="shift-cell">{{this.sun}}</div></td>
    </tr>
    <tr>
      <td>12-20</td>
       <td><div class="shift-cell">{{this.mon}}</div></td>
      <td><div class="shift-cell">{{this.tue}}</div></td>
      <td><div class="shift-cell">{{this.wed}}</div></td>
      <td><div class="shift-cell">{{this.thu}}</div></td>
      <td><div class="shift-cell">{{this.fri}}</div></td>
      <td><div class="shift-cell">{{this.sat}}</div></td>
      <td><div class="shift-cell">{{this.sun}}</div></td>
    </tr>
    <tr>
      <td>16-00</td>
       <td><div class="shift-cell">{{this.mon}}</div></td>
      <td><div class="shift-cell">{{this.tue}}</div></td>
      <td><div class="shift-cell">{{this.wed}}</div></td>
      <td><div class="shift-cell">{{this.thu}}</div></td>
      <td><div class="shift-cell">{{this.fri}}</div></td>
      <td><div class="shift-cell">{{this.sat}}</div></td>
      <td><div class="shift-cell">{{this.sun}}</div></td>
    </tr>
  </table>
</div>
<div class="admin-container">
  <div class="create-user-column">
    <h2>Create User</h2>
    <form class="create-user-form">
      <div class="input-container">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="input-container">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" class="login-button">Create Waiter</button>
    </form>
  </div>

  <div class="users-list-column">
    <h2>Users List</h2>
    <table class="users-list">
      <tr>
        <th>Username</th>
        <th>Role</th>
        <!-- You can add more columns here -->
      </tr>
      {{#each users}}
      <tr>
        <td>{{this.username}}</td>
        <td>{{this.role}}</td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>


