


<div>
  <h1>Welcome, {{username}}</h1>
  <p>You are logged in as an admin.</p>
  <table border="1">
    <tr>
      <th>Day</th>
      <th>8-16</th>
      <th>12-20</th>
      <th>16-00</th>
    </tr>
    {{#each days}}
    <tr>
      <td>{{this.day}}</td>
      <td>{{this.shift1}}</td>
      <td>{{this.shift2}}</td>
      <td>{{this.shift3}}</td>
    </tr>
    {{/each}}
  </table>
</div>
