

<div>
  <h1>Welcome, {{username}}</h1>
  <p>You are logged in as an admin.</p>
  <table border="1">
    <tr>
      <th>Shift</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    <tr>
      <td>8-16</td>
      {{#each shifts}}
      <td>{{this.mon}}</td>
      <td>{{this.tue}}</td>
      <td>{{this.wed}}</td>
      <td>{{this.thu}}</td>
      <td>{{this.fri}}</td>
      <td>{{this.sat}}</td>
      <td>{{this.sun}}</td>
      {{/each}}
    </tr>
    <tr>
      <td>12-20</td>
      <!-- Repeat the above pattern for the other shifts -->
    </tr>
    <tr>
      <td>16-00</td>
      <!-- Repeat the above pattern for the other shifts -->
    </tr>
  </table>
</div>
