  <div class="users-list-column">
    <h2>Waiter List</h2>
    <table class="users-list">
      <thead>
        <tr>
          <th>Waiter name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each waiters}}
          <tr>
            <td class="username">{{this.username}}</td>
            <td>
              <form action="/admin/delete-user/{{../username}}" method="post">
                <input type="hidden" name="username" value="{{this.username}}">
                <button type="submit" class="delete-button">Delete</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
<div id="notification-message" style="display: none;">
  {{notification}}
</div>

    <form action="/admin/{{username}}" method="get">
  <button type="submit">Back To admin</button>
</form>

  </div>
  <script>
  window.onload = function() {
  var messageDiv = document.getElementById('notification-message');
  if (messageDiv && messageDiv.innerHTML.trim() !== '') {
    messageDiv.style.display = 'block';
    setTimeout(function() {
      messageDiv.style.display = 'none';
    }, 3000); // 3 seconds
  }
};

</script>
