<div>
   <div class="logout_container">
    <form action="/" method="get">
    
    <button class="logout-button">Logout</button>
    </form>
  </div>


<div class="schedule-container">
  <h1>Select Your Shifts {{username}}</h1>
  <form action="/waiters/{{username}}" method="post">
    <table class="schedule">
      <thead>
        <tr>
          <th>Time Slot</th>
          {{#each scheduleData}}
            <th>{{timeSlot}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each scheduleData}}
          <tr>
            <td>{{timeSlot}}</td>
            {{#each days}}
              <td>
                <input type="checkbox" 
                       id="days-{{day}}-{{../timeSlot}}" 
                       name="days[{{day}}][{{../timeSlot}}]" 
                       {{#if isChecked}}checked{{/if}}>
                <label class="custom-checkbox" for="days-{{day}}-{{../timeSlot}}"></label>
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    <button class="login-button" type="submit">Save</button>
  </form>
</div>


</div>
 <div id="notification-message" class="notification-message" style="display: {{#if notification}}block{{else}}none{{/if}};">
  {{notification}}
</div>

<script>
  setTimeout(function() { var messageDiv =
  document.getElementById('notification-message'); if (messageDiv) {
  messageDiv.style.display = 'none'; } }, 3000); 


</script>