<div>
  
</div>

<div class="schedule-container">
  <h1>Select Your Shifts {{username}}</h1>
  <form action="/waiters/{{username}}" method="post">
    <table class="schedule">
      <thead>
        <tr>
          <th>Time Slot</th>
          {{#each daysOfWeek}}
            <th>{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each timeSlots}}
          <tr>
            <td>{{this}}</td>
            {{#each ../daysOfWeek}}
              <td><input type="checkbox" name="days[{{this}}][{{../this}}]"></td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
    <button class="login-button" type="submit">Save</button>
  </form>
</div>
